button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  padding: 5px 15px;
  border-radius: 2px;
  border: none;

  &:hover {
    cursor: pointer;
  }
}

.button--green {
  background: #00A11E;
  color: #fff;

  &:hover {
    transition: .3s;
    background: darken(#00A11E, 5%);
  }
}

.button--border {
  background: transparent;
  border: 1px solid #C6CBD4;
  box-sizing: border-box;
  border-radius: 4px;

  &:hover {
    transition: .3s;
    background: lighten(#C6CBD4, 10%);
  }
}