.checkbox--green {
  display: flex;
  align-items: center;

  input {
    display: none;

    &:hover ~ .checkmark {
      border-color: #00A11E;
      cursor: pointer;
    }

    &:focus ~ .checkmark {
      border-color: #00A11E;
      cursor: pointer;
    }

    &:checked ~ .checkmark {
      background-color: #00A11E;
      border: 1px solid #00A11E;


      &:after {
        content: "";
        position: absolute;
        display: block;
        left: 4px;
        top: 1px;
        width: 3px;
        height: 8px;
        border: solid white;
        border-width: 0 2px 2px 0;
        transform: rotate(45deg);
      }
    }


  }

  .checkmark {
    position: relative;
    display: block;
    height: 14px;
    width: 14px;
    background: #fff;
    border: 1px solid #C6CBD4;
    border-radius: 2px;
  }

  .checkbox__text {
    margin-left: 12px;
  }

}