@import './fonts';
@import './buttons';
@import './inputs';

body {
  background: #F2F2F2;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro', sans-serif;
}

.container {
  width: 1140px;
  display: flex;
  flex-direction: column;
}